.button {
  align-items: center;
  background-color: $gray;
  border: none;
  border-radius: 15px;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
}

.button_float {
  background-color: $black;
  border-radius: 50%;
  bottom: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4), -5px 0px 10px rgba(0, 0, 0, 0.4);
  height: 70px;
  position: fixed;
  right: 36px;
  width: 70px;
}
